.inboundRules {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.inboundRulesContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.inboundRulesContainerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inboundRulesContainerTopTitleText {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #030303;
  line-height: 25px;
}

.inboundRulesContainerTopSearchBarInput {
  width: 200px;
  height: 35px;
  border-radius: 2px;
  padding-left: 35px;
  font-size: 16px;
  letter-spacing: -0.1px;
  margin-right: 10px;
  border: none;
  outline: none;
  border: 1px solid #000;
}

.inboundRulesContainerTopSearchBar {
  position: relative;
  display: inline-block;
  color: #94a3b8;
}

.inboundRulesContainerTopSearchBarInput.active {
  border: none;
  outline: none;
}

.inboundRulesContainerTopSearchBarIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.inboundRulesContainerTopRight {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.inboundRulesContainerTopAddRuleButton {
  height: 35px;
  width: 160px;
}

.inboundRulesContainerTopAddRuleButtonButton {
  height: 100%;
  width: 100%;
  font-size: 18px;
  letter-spacing: -0.1px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: #000;
  background-color: #5db996;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
  transition: all 0.2s ease-in-out;
}

.inboundRulesContainerTopAddRuleButtonButton:hover {
  background-color: #00ac48;
}

.aCLElementHeaders {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  font-size: 28px;
  justify-content: flex-start;
  letter-spacing: -1px;
  padding-left: 390px;
}

.aCLElementHeaderProtocol {
  padding-left: 50px;
}

.aCLElementHeaderSource {
  padding-left: 65px;
}

.aCLElementHeaderDestination {
  padding-left: 70px;
}

.aCLElementHeaderPort {
  padding-left: 80px;
}

.inboundRulesContainerRules {
  margin-top: 10px;
}

.inboundRulesContainerRulesRuleContainer {
  background-color: #faf4d3;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
}

.inboundRulesContainerRulesRuleContainerDivider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.inboundRulesContainerRulesRuleContainerRulesPart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inboundRulesContainerRulesRuleContainerRulesPartRuleNr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inboundRulesContainerRulesRuleContainerRulesPartRuleNrText {
  font-size: 24px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #030303;
  left: 200px;
}

.inboundRulesContainerRulesRuleContainerRulesPartRuleNrTextNr {
  font-size: 24px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #030303;
}

.inboundRulesContainerRulesRuleContainerCloseAccept {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  gap: 105px;
}

.inboundRulesContainerRulesRuleContainerCloseAcceptCloseIcon,
.inboundRulesContainerRulesRuleContainerCloseAcceptAcceptIcon {
  height: 40px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inboundRulesContainerRulesRuleContainerRulesPartTwoRuleContainer {
  display: flex;
  margin-left: 200px;
  align-items: center;
  gap: 20px;
}

.inboundRulesContainerRulesRuleContainerRulesPartActionText {
  font-size: 24px;
  font-weight: 500;
  color: #030303;
}

.inboundRulesContainerRulesRuleContainerRulesPartProtocol {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.inboundRulesContainerRulesRuleContainerRulesPartProtocolSelect {
  width: 160px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: -0.2px;
  margin-right: 10px;
  border: none;
  outline: none;
  border: 1px solid #2f4858;
  color: #030303;
  font-weight: 500;
  background-color: #c2d3b6;
  border-radius: 4px;
}

.inboundRulesContainerRulesRuleContainerCloseAcceptCloseIcon {
  transition: all 0.2s ease-in-out;
}

.inboundRulesContainerRulesRuleContainerCloseAcceptAcceptIcon {
  transition: all 0.2s ease-in-out;
}

.inboundRulesContainerRulesRuleContainerCloseAcceptCloseIcon:hover {
  transform: scale(1.1);
}

.inboundRulesContainerRulesRuleContainerCloseAcceptAcceptIcon:hover {
  transform: scale(1.1);
}

.inboundRulesContainerRulesRuleContainerRulesPartProtocolInputCustomInput {
  width: 160px;
  height: 40px;
  padding-left: 5px;
  font-weight: 500;
  font-size: 16px;
  background-color: #c2d3b6;
  border: 1px solid #2f4858;
  color: #030303;
  border-radius: 4px;
}

.inboundRulesContainerRulesRuleContainerRulesPartProtocolInputCustom
  input:focus {
  border: none;
  outline: none;
  border: 1px solid #c2d3b6;
}

.inboundRulesContainerRulesRuleContainerSource {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inboundRulesContainerRulesRuleContainerSourceSelect {
  width: 230px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: -0.2px;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: #c2d3b6;
  border: 1px solid #2f4858;
  color: #030303;
  border-radius: 4px;
  font-weight: 500;
}

.inboundRulesContainerRulesRuleContainerSourceInputCustomInput {
  width: 230px;
  height: 40px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #c2d3b6;
  border: 1px solid #2f4858;
  color: #030303;
  border-radius: 4px;
}

.inboundRulesContainerRulesRuleContainerSourceInputCustom input:focus {
  border: none;
  outline: none;
  border: 1px solid #c2d3b6;
}

.inboundRulesContainerRulesRuleContainerDestination {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inboundRulesContainerRulesRuleContainerDestinationSelect {
  width: 230px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: -0.2px;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: #c2d3b6;
  border: 1px solid #2f4858;
  color: #030303;
  border-radius: 4px;
  font-weight: 500;
}

.inboundRulesContainerRulesRuleContainerDestinationInputCustomInput {
  width: 230px;
  height: 40px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #c2d3b6;
  border: 1px solid #2f4858;
  color: #030303;
  border-radius: 4px;
}

.inboundRulesContainerRulesRuleContainerDestinationInputCustom input:focus {
  border: none;
  outline: none;
  border: 1px solid #c2d3b6;
}

.inboundRulesContainerRulesRuleContainerPort {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inboundRulesContainerRulesRuleContainerPortSelect {
  width: 180px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: -0.2px;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: #c2d3b6;
  border: 1px solid #2f4858;
  color: #030303;
  border-radius: 4px;
  font-weight: 500;
}

.inboundRulesContainerRulesRuleContainerPortInputCustomInput {
  width: 180px;
  height: 40px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #c2d3b6;
  border: 1px solid #2f4858;
  color: #030303;
  border-radius: 4px;
}

.inboundRulesContainerRulesRuleContainerPortInputCustom input:focus {
  border: none;
  outline: none;
  border: 1px solid #c2d3b6;
}

.inboundRulesRightTasksContainer {
  display: flex;
  flex-direction: row;
}

.inboundRulesRightTasksContainerDiv {
  width: 340px;
  height: calc(100vh - 70px);
  background-color: #d3f1df;
  border-left: 1px solid #7ed4ad;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.inboundRulesRightTasksContainerDivClose {
  transform: translateX(100%);
  width: 0;
}

.inboundRulesRightTasksContainerSidebar {
  cursor: pointer;
}

.inboundRulesRightTasksContainerArrowImg {
  width: 50px;
  /* transform: rotate(180deg); */
  height: auto;
  /* background-color: lightblue; */
  margin-top: 13px;
  transition: all 0.3s ease-in-out;
}

.inboundRulesRightTasksContainerArrowImgClose {
  transform: rotate(180deg);
}

.inboundRulesRightTasksContainerArrowImgOpen {
  transform: rotate(0deg);
  /* margin-left: 50px; */
}

.inboundRulesRightTasksContainerArrowImgOpen .inboundRulesRightTasks {
  margin-left: 100px;
}

.inboundRulesRightTasksOpen {
  margin-left: 20px;
}

.inboundRulesRightTasksClose {
  margin-left: 0;
}

.inboundRulesRightTasksContainerDivChallangeContainer {
  display: flex;
  flex-direction: row;
  /* background-color: lightgray; */
  border: 2px solid #7ed4ad;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 25px;
}

.inboundRulesRightTasksContainerDivChallangeContainer.correct {
  background-color: green;
}

.inboundRulesRightTasksContainerDivChallangeContainer.incorrect {
  background-color: red;
}
