.tasks {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
    background-color: #F9FAFB;
    padding-top: 20px;
}

.tasksContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.tasksContainerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.tasksContainerTopContainerText {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.5px;
}

.tasksContainerMiddle {
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.tasksContainerMiddleContainerText {
    font-size: 20px;
    font-weight: 500;
    color: #4B5563;
    letter-spacing: 0.1px;
}