.documentation {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F6;
    /* padding-top: 10px; */
    box-sizing: border-box;
    cursor: default; /* Set default cursor */
}

.documentationIframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* .downloadButton {
    padding: 10px 20px;
    background-color: #111827;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.downloadButton:hover {
    background-color: #374151;
} */
