.aCLElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-bottom: 10px;
}

.aCLElement,
.aCLElementContainer {
  background-color: #d3d3d3;
}

.aCLElementContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.aCLElementContainerLeftNumerText {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.aCLElementContainerMiddle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.aCLElementContainerMiddleActionTextAllow {
  background-color: #16c47f;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aCLElementContainerMiddleActionTextDeny {
  background-color: #a31d1d;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aCLElementContainerMiddleProtocol {
  background-color: #e95925;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aCLElementContainerMiddleSource {
  background-color: #e195ab;
  width: 170px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
}

.aCLElementContainerMiddleDestination {
  background-color: #ffcce1;
  width: 170px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
}

.aCLElementContainerMiddlePort {
  display: flex;
  flex-direction: row;
  background-color: #b1f0f7;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.aCLElementContainerMiddleActionText {
  font-size: 22px;
  font-weight: 600;
}

.aCLElementContainerMiddleProtocolText {
  font-size: 22px;
}

.aCLElementContainerMiddleSourceText {
  font-size: 22px;
}

.aCLElementContainerMiddleDestinationText {
  font-size: 22px;
}

.aCLElementContainerMiddlePortText {
  font-size: 22px;
}

.aCLElementContainerMiddlePortPort {
  font-size: 22px;
}

.aCLElementContainerRight {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.aCLElementContainerRightEditBtn {
  width: 100px;
  height: 40px;
  background-color: #02c822;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.aCLElementContainerRightEditBtn:hover {
  background-color: #02a21d;
}

.aCLElementContainerRightDeleteDelete {
  width: 100px;
  height: 40px;
  background-color: #ff0000;
  color: #030303;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.aCLElementContainerRightDeleteDelete:hover {
  background-color: #d50000;
}