.login {
    background-color: #F3F4F6;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainerElementContainer {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    padding-right: 40px;
}

.inputWithIcon {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

.inputWithIcon .inputIcon {
    position: absolute;
    left: 10px;
    font-size: 1.2rem;
    color: #888;
    display: flex;
    align-items: center;
    height: 100%;
}

.inputWithIcon input {
    padding-left: 40px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.inputWithIcon input:focus {
    border-color: #111827;
}

.loginContainerElementContainerFirst {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginContainerElementContainerFirstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loginContainerElementContainerFirstContainerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: auto;
}

.loginContainerElementContainerFirstContainerTextOne {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #111827;
    margin-top: 20px;
}

.loginContainerElementContainerFirstContainerTextTwo {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #4B5563;
    margin-top: 10px;
}


.loginContainerElementContainerSecond {
    margin-top: 20px;
    width: 100%;
}

.loginContainerElementContainerSecondConainerFirstText,
.loginContainerElementContainerSecondConainerSecondText {
    color: #374151;
    font-size: 16px;
    font-weight: 500;
}

.loginContainerElementContainerSecondConainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginContainerElementContainerSecondConainerFirstDivInput,
.loginContainerElementContainerSecondConainerSecondTextInput {
    margin-top: 5px;
}

.loginContainerElementContainerThird {
    margin-top: 25px;
    width: 100%;
}

.loginContainerElementContainerThirdContainer {
    text-decoration: none;
}

.loginContainerElementContainerThirdContainerBtn {
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #111827;
    border: none;
    outline: none;
    border-radius: 7px;
    /* cursor: pointer; */
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.loginContainerElementContainerThirdContainerBtn:hover {
    background-color: #374151;
}

.loginContainerElementContainerThirdContainerBtnInput {
    width: 24px;
    height: auto;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainerElementContainerThirdContainerBtnText {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.loginContainerElementContainerFourth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.loginContainerElementContainerFourthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.loginContainerElementContainerFourthContainerText {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
    letter-spacing: 0.4px;
}

.loginContainerElementContainerFourthContainerTextTwo {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
    letter-spacing: 0.4px;
}

.loginError {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}