.notFoundContainer {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: none;
}

.notFoundText {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: black;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
