.home {
    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 90%; */
    height: auto;
    margin: auto;
    /* background-color: white; */
    /* border: 1px solid #000; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
    height: 94%;
    border-radius: 12px;
}

.homeContainer {
    display: flex;
    flex-direction: column;
}

.homeContainerFirst {
    width: 100%;
}

.homeContainerFirstContainerFirstContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.homeContainerFirstContainerFirstContainerLeftIcon {
    width: 32px;
    height: auto;
    align-items: center;
    color: #374151;
}

.homeContainerFirstContainerFirstContainerRightText {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.homeContainerFirstContainerSecond {
    margin-top: 20px;
}

.homeContainerFirstContainerSecondContainerText {
    font-size: 18px;
    font-weight: 500;
    color: #4B5563;
}

.homeContainerSecond {
    margin-top: 45px;
}

.homeContainerSecondContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.homeContainerSecondContainerElement {
    /* border: 1px solid #000; */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F9FAFB;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    height: 160px
}

.homeContainerSecondContainerElementContainerTopContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.homeContainerSecondContainerElementContainerTopContainerIcon {
    width: 26px;
    height: auto;
    color: #374151;
}

.homeContainerSecondContainerElementContainerTopContainerText {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.homeContainerSecondContainerElementContainerBottom {
    margin-top: 15px;
}

.homeContainerSecondContainerElementContainerBottomText {
    font-size: 18px;
    font-weight: 500;
    color: #4B5563;
    letter-spacing: 0.3px;
    line-height: 25px;
}

.homeContainerThird {
    margin-top: 60px;
    width: 100%;
}

.homeContainerThirdContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homeContainerThirdContainerTopContainerText {
    font-size: 24px;
    font-weight: 500;
    color: #000000;;
}

.homeContainerThirdContainerBottom {
    margin-top: 20px;
    width: 100%;
}

.homeContainerThirdContainerBottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.homeContainerThirdContainerBottomContainerLeft {
    width: 100%;
    /* border: 1px solid #000; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F9FAFB;
    border-radius: 11px;
    /* cursor: pointer; */
    transition: all 0.3s ease-in-out;
}

.homeContainerThirdContainerBottomContainerLeft:hover {
    background-color: #E5E7EB;
}

.homeContainerThirdContainerBottomContainerLeftContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.homeContainerThirdContainerBottomContainerLeftContainerLeftIcon {
    color: #374151;
    width: 25px;
    height: auto;
}

.homeContainerThirdContainerBottomContainerLeftContainerRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeContainerThirdContainerBottomContainerLeftContainerRightContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.homeContainerThirdContainerBottomContainerLeftContainerRightContainerTextOne {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.homeContainerThirdContainerBottomContainerLeftContainerRightContainerTextTwo {
    color: #4B5563;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
}