.card {
    width: 412px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.card.optionOne {
    background: #D3D3D3;
}

.card.optionTwo {
    background: #02C822;
}

.card.optionThree {
    background: #CEF2D4;
}

.card.optionFour {
    background: #D3D3D3;
}

.card.optionFive {
    background: #D3D3D3;
}

.card.optionSix {
    background: #CEF2D4;
}

.cardContainer {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.cardContainerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardContainerTitleText {
    font-size: 27px;
    letter-spacing: normal;
}

.cardContainerTitleInfoIcon {
    height: 30px;
    width: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cardContainerTitleInfoIcon:hover {
    transform: scale(1.1);
}

.cardContainerDescription {
    margin-top: 15px;
}

.cardContainerDescriptionText {
    font-size: 18px;
}

.cardContainerButtonBtn {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    color: #030303;
    font-size: 18px;
    letter-spacing: -0.1px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cardContainerButtonBtn.optionOne {
    background-color: #00AC48;
}

.cardContainerButtonBtn.optionTwo {
    background-color: #D3D3D3;
}

.cardContainerButtonBtn.optionThree {
    background-color: #02C822;
}

.cardContainerButtonBtn.optionFour {
    background-color: #02C822;
}

.cardContainerButtonBtn.optionFive {
    background-color: #00AC48;
}

.cardContainerButtonBtn.optionSix {
    background-color: #00AC48;
}

/* Info Page */
.cardInfoContainer {
    background-color: rgba(139, 40, 52, 0.95);
    position: absolute;
    width: 300px;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.cardInfoContainerBox {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.cardInfoContainer.optionOne {
    top: 11%;
    left: 24%;
}

.cardInfoContainer.optionOne:hover{
    visibility: visible;
    z-index: 5;
}

.cardInfoContainer.optionTwo {
    top: 57%;
    left: 24%
}

.cardInfoContainer.optionThree {
    top: 11%;
    left: 47.5%;
}

.cardInfoContainer.optionFour {
    top: 57%;
    left: 47.5%;
}

.cardInfoContainer.optionFive {
    top: 11%;
    left: 70.5%;
}

.cardInfoContainer.optionSix {
    top: 57%;
    left: 70.5%;
}

.cardInfoContainerTriangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid rgba(139, 40, 52, 0.95);
    position: absolute;
    left: 0;
    margin-top: -2px;
    margin-left: -32px;
    transform: rotate(270deg);
}

.cardInfoContainerTopText {
    font-size: 22px;
}

.cardInfoContainerBottomText {
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: -0.1px;
    line-height: 20px;
}